/* work sens form google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@500;600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
   font-size: 3rem; 
   font-weight: 700;
   color: #131313;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    font-weight: 400;
}